::-webkit-scrollbar{
    width: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    overflow: hidden;
}
#main{
    width: 100vw;
    max-width: 540px;
    height: 100vh;
    box-shadow: inset 0 0 10px 4px #111611;

}
h2{
    text-align: center;
    font-family: sans-serif;
    background: #1c1c46;
    color: #fff;
    padding: 8px;
    text-shadow: 1px 1px 4px #111;
    margin-bottom: 8px;


}
#msg_area{
    height: 82%;
    padding:0 12px;
    overflow: scroll;
    scroll-behavior: smooth;
}
#bot{
    width: 50px;
    height: 50px;
    background: url(https://png.pngtree.com/png-vector/20220707/ourmid/pngtree-chatbot-robot-concept-chat-bot-png-image_5632381.png);
    background-size: 100%;
    border-radius: 50%;
    margin: 10px;
}
#robot{
    display: flex;
    align-items: center;
}
h3{
    font-family: monospace;
    font-size:20px;

}
#input{
    height: 7%;
    min-height: 42px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 8px 16px;
    border-radius: 32px;
    background: linear-gradient(#ececee 50%, #1c1f46 50%);
    box-shadow: inset 0 1px 0 #777;

}
#text{
    outline: none;
    font-size: 20px;
    background: #ececec;
    color: #333;
    border-radius: 32px 0 32px 32px;
    padding: 0 16px;
    border: solid 1px #777;
    border-right: none;
}
#send{
    outline: none;
    font-size: 20px;
    color: #eee;
    background: #1c1f46;
    border: none;
    border-radius: 32px;
    transition-duration: 0.2s;
}
#send:active{
    font-size: 16px;
}
.left, .right{
    font-size: 18px;
    font-family: monospace;
    display:inline-block ;
    width: auto;
    max-width: 60%;
    padding: 14px;
    word-wrap: break-word;
    margin: 8px 14px;
}
.left{
    color: #000;
    background: #b3bfb3;
    border-radius: 0 16px 16px 16px;
}
.right{
    color: #fff;
    background: #1c1f46;

}
.msgCon1, .msgCon2{
    width: 100%;
    display:inline-block ;
}